<div class="index-page">
    <%= render :partial => 'static_pages/partials/overlay_company'%>
    <%= render :partial => 'static_pages/partials/home_2_company'%>
    <%= render :partial => 'static_pages/partials/readmore_company'%>
    <%= render :partial => 'static_pages/partials/wave'%>
    <%= render :partial => 'static_pages/partials/how_it_work'%>
    <%= render :partial => 'static_pages/partials/info_company'%>
    <%= render :partial => 'static_pages/partials/wave'%>
    <%= render :partial => 'static_pages/partials/demo_company'%>
</div>