<div class="index-page">
    <%= render :partial => 'static_pages/partials/overlay_user'%>
    <%= render :partial => 'static_pages/partials/home_2_user'%>
    <%= render :partial => 'static_pages/partials/readmore_user'%>
    <%= render :partial => 'static_pages/partials/wave'%>
    <%= render :partial => 'static_pages/partials/how_it_work'%>
    <%= render :partial => 'static_pages/partials/info_user'%>
    <%= render :partial => 'static_pages/partials/wave'%>
    <%= render :partial => 'static_pages/partials/demo_user'%>
</div>