<div class="container devise-page">
    <div class="row">
        <div class="col-md-8 col-lg-6 offset-md-3">
            <br><br>
            <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin mt-3" } do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <h3 class="mb-3 font-weight-normal text-center text-indigo">Je modifie mon compte</h3>

            <div class="form-group">
                <%= f.label :email, "Votre email" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
                <%= f.label :password, "Votre nouveau mot de passe" %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation, "Confirmation de votre nouveau mot de passe" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :current_password, "Mot de passe actuel" %> <i><small> - Votre mot de passe est nécessaire pour confirmer les changements </small></i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <div class="actions mt-3">
                <%= f.submit "Enregistrer mes modifications", class: "btn btn-lg btn-primary btn-block" %>
            </div>
            <% end %>
            <br>
            <div class="my-5 d-flex justify-content-between">
                <p><%= button_to "Revenir à la page précédente", :back, class: "btn btn-sm btn-secondary" %></p>
                <p><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete, class: "btn btn-sm btn-outline-secondary" %></p>
            </div>
        </div>
    </div>

</div>