<section>
  <div id="howitwork" class="" tabindex="-1">
      <div class="container">
          <div class="text-violet display-4 pt-2">Comment ça marche ? </div>

          <div class="vertical mt-5 mb-3"></div>

          <div class="row text-landing mt-5">
              <img class="img-fluid" src="<%= asset_path('offices/1')%>" style="height: 60px; width:125px;">
              <div class="col-6 col-md-6">L'employé envoie son retour.</div>
              
              <img class="img-fluid" src="<%= asset_path('offices/2')%>" style="height: 60px; width:125px;">
              <div class="col-6 col-md-6 offset-md-6">Le responsable RH reçoit une notification sur son espace.</div>

              <img class="img-fluid" src="<%= asset_path('offices/3')%>" style="height: 60px; width:125px;">
              <div class="col-6 col-md-6">L'utilisateur a une vue d’ensemble de ses feedbacks.</div>

              <img class="img-fluid" src="<%= asset_path('offices/4')%>" style="height: 60px; width:125px;">
              <div class="col-6 col-md-6 offset-md-6">Le responsable RH a en complément accès au détail des retours utilisateurs. </div>

              <img class="img-fluid" src="<%= asset_path('offices/5')%>" style="height: 60px; width:125px;">
              <div class="col-6 col-md-6">Le responsable RH peut décider de s'entretenir avec un salarié pour discuter avec lui. </div>
          </div>
      </div>
      
  </div>
</section>
