<div class="container">
  <div id="wrapper">
    <div class="container-fluid">
      <%= render :partial => 'users/partials/heading_admin'%>

      <div class="row">
        <%= render :partial => 'users/partials/note_admin'%>
        <%= render :partial => 'users/partials/note_global_admin'%>
        <%= render :partial => 'users/partials/note_workspace_admin'%>
        <%= render :partial => 'users/partials/note_missions_admin'%>
      </div>

      <div class="row">
        <%= render :partial => 'users/partials/pie_chart_admin'%>
        <%= render :partial => 'users/partials/histo_admin'%>
      </div>

      <div>
        <%= render :partial => 'users/partials/table-js'%>
      </div>
    </div>
  </div>
</div>
