<!DOCTYPE html>
<html>

<head>
    <% content_for :title, "Account Settings" %>
</head>

<body>

    <% if !current_user.nil? %>

    <!-- MAIN BODY -->
    <section class="account-settings-section">
        <div class="container">
            <!-- Content -->
            <div class="contact-info">
                <div class="row wrapper">
                    <div class="col-lg-10 col-md-12 mx-auto">
                        <div class="col">
                            <div class="account_created_at ml-auto" style="float:right;">

                            </div>
                            <div class="col ml-0 pl-0">
                                <h1 class="">Account Information</h1>
                            </div>
                            <hr>

                            <div class="account-email mb-5">
                                <h3 class="mb-3">Account email address</h3>
                                <span class="text-primary"><%= current_user.email %></span>
                                <div>
                                    <a href="<%= account_secret_path %>" class="btn btn-light border-primary text-primary mt-2">Change</a>
                                </div>
                            </div>

                            <!-- Start form -->
                            <!-- Start account info -->
                            <%= form_with(scope: :user, url: account_profile_path, method: :patch, local:true) do |f| %>
                            <div class="contact-info mb-5">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h3>Profile Information</h3>

                                        <div class="form-row mb-3 ml-0">
                                            <div class="col">
                                                <%= f.label :first_name %>
                                                <%= f.text_field :first_name, class: "form-control text-primary" %>
                                            </div>
                                            <div class="col">
                                                <%= f.label :last_name %>
                                                <%= f.text_field :last_name, class: "form-control text-primary" %>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :company_id, "Entreprise" %><br />
                                             <%= f.select :company_id , 
                                                          options_for_select(@companies.collect{ |u| [u.name, u.id] }, current_user.company_id),
                                                           { include_blank: '<Sélectionner votre entreprise>', require: true}, class: 'form-control text-primary' %>
                                        </div>

                                    </div>
                                </div>
                              <div class="d-flex justify-content-between">
                              <%= f.submit "Save", class: 'btn btn-primary' %>

                                  <% if current_user.is_company_admin%>
                                    <a href="<%= dashboard_path %>", class="btn btn-outline-primary">Dashboard</a>
                                  <% else %>
                                    <a href="<%= dashboard_admin_path %>", class="btn btn-outline-primary">Dashboard Admin</a>
                                  
                                  <% end %>
                              </div>

                            </div>
                            <% end %>


                        </div>
                        <!-- End address -->
                        <!-- End form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end content -->
    </section>

    <!-- If user not logged -->

    <% else %>
    <div class="container text-center">
        <h3>You need to loggin to see your account settings.</h2>
            Back to <a href="<%= new_user_session_path %>">Login</a>
    </div>
    <% end %>
</body>

</html>