<body>
  <div class="container">
    <div class="wrapper">
      <%= form_tag("/spotify", method: "get") do %>
        <%= label_tag(:artist, "Quel artiste veux-tu écouter ?") %>
        <%= text_field_tag(:artist) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
    <div class="container">
    <div class="wrapper">
      <p>Voila ce qu'on t'a trouvé :<p>
      <ul>
        <li>Artsite : <%=@artist.name%></li>
        <li>Album : <%=@album.name%></li>
      </ul>
      <p>Tu peux écouter ce titre sur Spotify :</p>
      <%if @artist != nil%>
      <a href=<%=@uri%> target="_blank"><%=@track.name%></a>
      <%end%>
    </div>
  </div>
</body>
  