<div class="feedbacks-section">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Historique des feedbacks de l'utilisateur <%= @user.first_name %></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label="Prénom: activate to sort column descending"
                      style="width: 175px;">Prénom</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Nom: activate to sort column ascending" style="width: 266px;">Nom</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Email: activate to sort column ascending" style="width: 126px;">Email</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Date: activate to sort column ascending" style="width: 57px;">Date</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Moyenne de la note: activate to sort column ascending" style="width: 117px;">Moyenne
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      style="width: 117px;">Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @feedbacks.each do |feedback| %>
                        <tr role="row" class="odd">
                          <td class="sorting_1"><%= feedback.sender.first_name %></td>
                          <td><%= feedback.sender.last_name %> (<%= feedback.sender.company.name %>) </td>
                          <td><%= feedback.sender.email %></td>
                          <td><%= feedback.created_at %></td>
                          <td><%= feedback.score_average %></td>
                          <td><a href="<%= feedback_path(feedback)%>"><i class="fas fa-eye text-success"></i></a></td>
                  <% end  %>

                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>