<%= form_for @appointment do |f| %>
  <div class="form-group mb-4">
    <label>Titre du rendez-vous</label>
    <%= f.text_field :title, class: "form-control"%>
  </div>

  <div class="form-group mb-4">
    <label>Description</label>
    <%= f.text_area :description, class: "form-control", rows: '5'%>
  </div>

  <div class="form-row mb-4">
    <div class="col">
      <label>Date de début</label>
      <%= f.text_field :start_date, class: "form-control dpicker", id: 'startDate', require: true%>
    </div>
      <div class="col">
      <label>Date de fin</label>
      <%= f.text_field :end_date, class: "form-control dpicker", id: 'endDate',require: true%>
    </div>
  </div>
   
  
  <div class="form-group mb-4">
    <label>Participant</label>
    <%= f.select :employee_id , options_for_select(@employees.collect{ |u| [u.email, u.id] }, params[:employee_id]),
                { include_blank: '<Sélectionner un destinataire>'}, class: 'form-control text-primary' %>
  </div>

  <div class="form-group mb-5 d-flex justify-content-between">
    <%= f.submit "Créer ce rendez-vous" , class:"btn btn-primary"%>
    <%= link_to 'Revenir à la page précédente', :back , class: 'btn btn-outline-primary ml-auto' %>
  </div>
<% end %>

