<div class="container text-center appointments-section">
<h4 class="mb-4 mt-3">Vos rendez-vous</h4>
  <a class="btn btn-outline-indigo mr-auto" href="<%= new_appointment_path %>" data-method="get">Créer un rendez-vous</a>
  <div class="row mt-5">
    <% @appointments.each do |appointment| %>
      <div class="col-lg-4 mb-4 md-4 t-4">
        <div class="card border-primary">
          <div class="card-header text-bold">
            <p>Du <%= get_time_verbose(appointment.start_date) %> <br/> au <%= get_time_verbose(appointment.end_date) %></p>
          </div>
          <div class="card-body">
            <h4 class="text-primary"><%=appointment.title %></h4>
            <span><small class="mt-2"><%= appointment.description %></small></span>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary ml-2" href="<%= appointment_path(appointment.id)%>">Afficher</a>
            <a class="btn btn-secondary ml-2" href="<%= edit_appointment_path(appointment.id)%>" data-method="get">Modifier</a>
				    <a class="btn btn-danger" href="#">Annuler</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
      