<div class="col-md-12 col-lg-6">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-danger text-uppercase">
        Salariés insatisfaits <small>(<%=@unsatisfied_users.count %> salariés)</small>
      </h6>
    </div>
    <ul class="list-group list-group-flush list-message-alert">
      <% @unsatisfied_users.each do |user| %>
        <li class="list-group-item">
        <div class="row">
          <div class="col-5">
            <%= user.first_name %>
            <%= user.last_name %><br/>
            <small><%= user.email %></small>
          </div>
          <div class="col-3">
            <div class="text-danger mx-auto"><small>Moyenne:</small> <strong><%= Feedback.user_score(user.id) %></strong></div>
          </div>
          <div class="col-4">
            <a href="<%= new_appointment_path %>" class="btn btn-danger btn-block mx-auto mb-3" data-method="get">Prendre RDV</a>  
            <a href="<%= users_feedbacks_path(user)%>" class="btn btn-outline-danger btn-block mx-auto">Historique</a>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

