 <div class="dropdown-menu dropdown-notification" aria-labelledby="navbarDropdown">
        <div class="notification-header">
          <span class="">
            Notifications
          </span>
        </div>
        <div class="notification-wrapper overlay-scrollbar scrollbar-hover">
            <% @notifications = all_notifications_unread %>
            <% if @notifications.count <1 %>
                <div class="py-3 pl-3">
                      Vous n'avez de nouvelles notifications.
                </div>
            <% else %>
                  <% @notifications.each do  |noti|%>
        
                      <% if noti.activity.name == "feedback_created"%>
                          <a href="<%= feedback_path(noti.feedback_id)%>" class="dropdown-menu-link">
                          <div><i class="fas fa-gift"></i></div>
                          <span class="pt-2">
                            <%= noti.user.full_name %> vient de créer un feedback.
                            <br>
                            <span>
                              <%= get_date(noti.created_at)%>
                            </span>
                          </span>
                          </a>
                        
                      <% elsif noti.activity.name =="feedback_updated"%>
                        
                          <a href="<%= feedback_path(noti.feedback_id)%>" class="dropdown-menu-link">
                          <div><i class="fas fa-comment-dots"></i></div>
                          <span class="pt-2">
                            <%= noti.user.full_name %> vient de modifier son feedback.
                            <br>
                            <span>
                              <%= get_date(noti.created_at)%>
                            </span>
                          </span>
                          </a>
                      <% elsif noti.activity.name =="user_created"%>
                          
                        <a href="#" class="dropdown-menu-link">
                        <div><i class="fas fa-user-plus"></i></div>
                          <span>
                            <%= noti.user.full_name %> souhaite rejoindre votre entreprise.
                            <br>
                            <span>
                              <%= get_date(noti.created_at)%>
                            </span>
                          </span>
                          </a>
                      <% else %>
                          
                        <a href="#" class="dropdown-menu-link">
                        <div><i class="fas fa-info"></i></div>
                          <span class="pt-2">
                            Vous avez un nouvelle notification.
                            <br>
                            <span>
                              <%= get_date(noti.created_at)%>
                            </span>
                          </span>
                          </a>
                      <% end %>
                  <%end%>
            <% end %>
        </div>
      
         <a class="dropdown-item dropdown-menu-footer" href="<%= notifications_path %>">
            Consulter toutes les notifications
        </a>
</div>