<section id="main-footer" class="py-4 px-3">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2 col-6">
              <a href="<%= root_path %>">
                <h5 class="text-violet-bold">Feedward</h5>
              </a>
          </div>
          <div class="col-md-3 col-6">
              <div class="d-flex flex-column">
                  <div>
                  <a href="<%= about_path %>">Notre Mission</a>
                  </div>
                  <div>
                  <a href="<%= contact_path %>">Nous contacter</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-6">
              <div class="d-flex flex-column">
                  <div>
                  <a href="<%= team_path %>">Equipe</a>
                  </div>
                  <div>
                  <a href="<%= careers_path %>">Nous rejoindre</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-5">
              <div class="d-flex flex-column">
                  <div>
                  <a href="<%= legal_notice_path %>">Mentions légales</a>
                  </div>
                  <div>
                  <a href="<%= privacy_policy_path %>">Politique de confidentialité</a>
                  </div>
              </div>
          </div>
          <div class="col-md-1 col-1">
            <a class="btn btn-violet" href="#">
              <i class="fas fa-chevron-up text-white"></i>
            </a>
          </div>
      </div>
      <div class="row pt-3">
        <div class="offset-md-5 col-md-7">
        <div>
            @ Feedward 2020. Tous droits réservés.

        </div>
        </div>
      </div>
  </div>
</section>